<header>
    <div class="topHeader">

        <div id="brand">
            <a id="logoLink" href="/"><img class="logo" src="/assets/images/logops.png"
                    alt="mobiliaria nossa senhora apareceida" title="logo"></a>
        </div>
        <h2 id="jingle">
            Sua casa, seu estilo
        </h2>


        <div id="banner" style="background-image: url(/assets/images/casa0.jpg);">
            <img id="wow" style="opacity:0%" src="/assets/images/wow.png">
        </div>

    </div>
    <div class="menu">


        <div class="links">
            <div onmouseover="bar()" class="departments">
                <canvas id="linha" width="30px" height="30px"></canvas>
                <p id="p">Categorias</p>

                <div id="barLinks">
                    <div id="bar1"></div>
                    <div id="bar2">
                        <div class="linkBox"><a class="linkMenu"
                                href="/store/category/eletrodomesticos">Eletrodomésticos</a></div>
                        <div class="linkBox"><a class="linkMenu" href="/store/category/sala">Sala</a></div>
                        <div class="linkBox"><a class="linkMenu" href="/store/category/jantar">Jantar</a></div>
                        <div class="linkBox"><a class="linkMenu" href="/store/category/quarto">Quarto</a></div>
                        <div class="linkBox"><a class="linkMenu" href="/store/category/banheiro">Banheiro</a></div>
                        <div class="linkBox"><a class="linkMenu" href="/store/category/escritorio">Escritório</a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="contactAbout">
                <a onclick="fAnimation()" href="#ft">
                    Contato</a>
                <a onclick="fAnimation()" href="#ft">
                    Sobre</a>
            </div>

        </div>

        <div class="network">
            <img title="Em breve" src="/assets/images/insta.png">
            <img title="Em breve" src="/assets/images/twitter.png">
            <img title="Em breve" src="/assets/images/face.png">

        </div>
    </div>

</header>